/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-carbonite Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {
    //  defaults for all processes
    cpus   = { 8    * task.attempt  }
    memory = { 32.GB * task.attempt }
    time   = { 8.h  * task.attempt  }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
    queueSize=20

    withName: CONCAT_FASTQ {
        cpus = 8
        memory = 16.GB
    }
    withName: MIXCR {
        $sbgAWSInstanceHint='c5.4xlarge;ebs-gp2;1024'
    }
    withName: STARFUSION {
        $sbgAWSInstanceHint='m5.4xlarge;ebs-gp2;1024'

    }
    withName: STAR_RSEM {
        $sbgAWSInstanceHint='m5.4xlarge;ebs-gp2;1024'
    
    }
    withName: STAR_TE {
        $sbgAWSInstanceHint='m5.4xlarge;ebs-gp2;1024'

      }
    withName: RSEM {
        $sbgAWSInstanceHint='m5.4xlarge;ebs-gp2;1024'

    }
    withName: PICARD {
        $sbgAWSInstanceHint='m4.2xlarge;ebs-gp2;1024'

    }
    withName: ARRIBA {
        $sbgAWSInstanceHint='r5.2xlarge;ebs-gp2;1024'

    }
    withName: RNAINDEL {
        $sbgAWSInstanceHint='m5.2xlarge;ebs-gp2;1024'

    }
    withName: TECOUNT {
        $sbgAWSInstanceHint='c5.4xlarge;ebs-gp2;1024'
    }
    withName: GATK_SPLIT_CIGAR {
        $sbgAWSInstanceHint='c5.18xlarge;ebs-gp2;1024'
    }
    withName: GATK_HAPLOTYPECALLER {
        $sbgAWSInstanceHint='c5.18xlarge;ebs-gp2;1024'
    }
    withName: ANNOVAR {
        $sbgAWSInstanceHint='c5.18xlarge;ebs-gp2;1024'
    }
}