// Please see https://nf-co.re/configs/pawsey_setonix/ for the original recommended configs

// Work dir (overwritten by command line param)
workDir = '/scratch/<project_id>/nf-tower-dir/work-dir'

params {
    config_profile_description = 'Pawsey Setonix HPC profile provided by nf-core/configs'
    config_profile_contact     = 'Sarah Beecroft (@SarahBeecroft), Georgie Samaha (@georgiesamaha)'
    config_profile_url         = 'https://support.pawsey.org.au/documentation/display/US/Setonix+User+Guide'
	max_memory = '230.GB' // 230GB is the max for work queue in pawsey
	max_cpus = 64
}


// Enable use of Singularity to run containers
singularity {
    enabled     = true
    autoMounts  = true
    autoCleanUp = true
    pullDockerContainer = true
}
 
// Submit up to 256 concurrent jobs (Setonix work partition max)
executor {
    queueSize = 1024
}

process {
    executor = 'slurm'
	errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    clusterOptions = "--account=<project_id>"
    module         = 'singularity/4.1.0-slurm'
    cache          = 'lenient'
    stageInMode    = 'symlink'
    queue          = { task.memory < 230.GB ? 'work' : (task.memory > 230.GB && task.memory <= 980.GB ? 'highmem' : '') }
    
}